Repository cau-bootcamp/wehavit, pull requests merged in 2023-12, with the labels that each got.

#153 [#151] fix: 반응 전송 기능 수정
  lib/features/reaction/presentation/provider/reaction_animation_widget_state_provider.dart
  lib/features/reaction/presentation/widget/reaction_animation_widget.dart
  lib/features/swipe_view/data/datasource/reaction_datasource_impl.dart
  lib/features/swipe_view/presentation/provider/swipe_view_model_provider.dart
Labels: Task

#155 Update README.md
  README.md
Labels: documentation

#162 [#159] refactor: CameraReactionWidget 내 카메라 구동 방식에서 GlobalKey 제거
  ios/Podfile.lock
  lib/features/home/presentation/widget/confirm_post_widget.dart
  lib/features/live_writing/presentation/widgets/my_live_writing_widget.dart
  lib/features/swipe_view/presentation/model/reaction_camera_widget_model.dart
  lib/features/swipe_view/presentation/model/swipe_view_model.dart
  lib/features/swipe_view/presentation/provider/reaction_camera_widget_model_provider.dart
  lib/features/swipe_view/presentation/provider/swipe_view_model_provider.dart
  lib/features/swipe_view/presentation/screen/swipe_view.dart
  lib/features/swipe_view/presentation/screen/widget/reaction_camera_widget.dart
  pubspec.lock
Labels: Task

#166 [#146] feat: add fans when late/live confirm post upload
  lib/features/late_writing/presentation/provider/late_writing_view_provider.dart
  lib/features/late_writing/presentation/screen/late_writing_view.dart
  lib/features/live_writing/data/datasources/confirm_post_remote_datasource.dart
  lib/features/live_writing/data/datasources/confirm_post_remote_datasource_impl.dart
  lib/features/live_writing/data/repositories/confirm_post_repository_impl.dart
  lib/features/live_writing/presentation/widgets/my_live_writing_widget.dart
Labels: dev, Task

#167 [#122] design: SwipeView 디자인 적용
  lib/features/my_page/presentation/widgets/resolution_dashboard_widget.dart
  lib/features/my_page/presentation/widgets/resolution_doughnut_graph_widget.dart
  lib/features/my_page/presentation/widgets/resolution_linear_gauge_graph_widget.dart
  lib/features/swipe_view/presentation/model/reaction_camera_widget_model.dart
  lib/features/swipe_view/presentation/model/swipe_view_model.dart
  lib/features/swipe_view/presentation/provider/reaction_camera_widget_model_provider.dart
  lib/features/swipe_view/presentation/screen/swipe_view.dart
  lib/features/swipe_view/presentation/screen/widget/reaction_camera_widget.dart
  lib/features/swipe_view/presentation/screen/widget/swipe_dashboard_widget.dart
  lib/features/swipe_view/presentation/screen/widget/swipe_view_cell.dart
Labels: Task

#168 [#118] feat: Waiting 뷰 디자인 적용
  lib/features/live_writing_waiting/live_waiting_sample_view.dart
  lib/features/live_writing_waiting/presentation/view/live_waiting_view.dart
Labels: Task

#171 [#157] 실시간 인증글 작성 시 타이머 로직 추가
  lib/features/live_writing/data/repositories/live_writing_mine_repository_impl.dart
  lib/features/live_writing/presentation/providers/active_resolution_provider.dart
  lib/features/live_writing/presentation/screens/live_writing_view.dart
  lib/features/live_writing_waiting/domain/models/waiting_model.dart
  lib/features/live_writing_waiting/presentation/view/live_waiting_view.dart
Labels: bug, enhancement, dev, Task
